@using WebApp.Rehearsals
@model WebApp.Rehearsals.Models.CreateRehearsalViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Add";
}
<h1>Add new</h1>

<h4>Rehearsal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Rehearsals" asp-action="New" method="POST">
            <div class="form-group">
                <label class="form-label" asp-for="Title">Title</label>
                <input class="form-input" asp-for="Title"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Location.Latitude">Location latitude</label>
                <input class="form-input" asp-for="Location.Latitude"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Location.Longitude">Location longitude</label>
                <input class="form-input" asp-for="Location.Longitude"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="StartTime">Start time</label>
                <input class="form-input" type="datetime-local" asp-for="StartTime"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="EndTime">End time</label>
                <input class="form-input" type="datetime-local" asp-for="EndTime"/>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Notes">Notes</label>
                <input class="form-input" asp-for="Notes"/>
            </div>
            <div class="form-group">
                <label class="form-label">Status</label><br/>
                <input class="form-input" type="radio" asp-for="Status" value="@RehearsalStatus.Proposed" />
                <label>Proposed</label><br/>
                <input class="form-input" type="radio" asp-for="Status" value="@RehearsalStatus.InArrangement" />
                <label>In arrangement</label><br/>
                <input class="form-input" type="radio" asp-for="Status" value="@RehearsalStatus.AwaitingApproval" />
                <label>Avaiting approval</label><br/>
                <input class="form-input" type="radio" asp-for="Status" value="@RehearsalStatus.Confirmed" />
                <label>Confirmed</label><br/>
                <input class="form-input" type="radio" asp-for="Status" value="@RehearsalStatus.Cancelled" />
                <label>Cancelled</label><br/>
            </div>
            <div class="form-group">
                <label class="form-label">Type</label><br/>
                <input class="form-input" type="radio" asp-for="Type" value="@RehearsalType.Regular" />
                <label>Regular</label><br/>
                <input class="form-input" type="radio" asp-for="Type" value="@RehearsalType.Extra" />
                <label>Extra</label><br/>
                <input class="form-input" type="radio" asp-for="Type" value="@RehearsalType.Intensive" />
                <label>Intensive</label><br/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
