@using WebApp.Members.Models
@model EditMemberViewModel
@{
    ViewData["Title"] = "Members";
}

<div class="row">
    <form asp-controller="Members" asp-action="Edit" method="POST">
        <input type="hidden" asp-for="Id" value="@Model.Id">

        <label class="form-label" asp-for="Name">Full name</label>
        <input class="form-input" asp-for="Name" value="@Model.Name">
        <br/>
        <label class="form-label" asp-for="PhoneNumber">Phone number</label>
        <input class="form-input" asp-for="PhoneNumber" value="@Model.PhoneNumber">
        <br/>
        <label class="form-label" asp-for="Email">E-mail address</label>
        <input class="form-input" asp-for="Email" value="@Model.Email">
        <br/>
        <label class="form-label" asp-for="Section">Section</label>
        <input class="form-input" asp-for="Section" value="@Model.Section">
        <br/>
        <label class="form-label">Roles</label><br/>
        <input class="form-input" asp-for="SingerRole" value="@Model.SingerRole">
        <label>Singer><br/>    
        <input class="form-input" asp-for="CouncilRole" value="@Model.CouncilRole">
        <label>Council><br/>
        <input class="form-input" asp-for="ConductorRole" value="@Model.ConductorRole">
        <label>Conductor><br/>

        <button class="btn btn-primary" type="submit">Edit</button>
        <a class="btn btn-danger" asp-controller="Members" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </form>
</div>

