@using WebApp.Members.Models
@model MembersViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Members";
}

<h1>Table of choir members</h1>

<p>
    <a asp-action="New">Create New</a>
</p>
<div class="row">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>E-mail address</th>
                <th>Section</th>
                <th>Roles</th>
            </tr>
        </thead>

        <tbody>
        @foreach(MembersViewModel.Member member in Model.Members) {
            <tr>
                <td><a class="nav-link" asp-area="" asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id">@member.Name</a></td>
                <td>@member.PhoneNumber</td>
                <td>@member.Email</td>
                <td>@member.Section</td>
                <td>@String.Join(", ", @member.Roles)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
