@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApp.Concerts.Views
@model WebApp.Concerts.Views.ConcertViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Concerts";
}

<h1>Table of concerts</h1>

<p>
    <a asp-action="NewConcert">Create New</a>
</p>
<div class="row">
    <table class="table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Location latitude</th>
            <th>Location longitude</th>
            <th>Meetup Time</th>
            <th>Sound check time</th>
            <th>Start time</th>
            <th>Expected end time</th>
            <th>Notes</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        @foreach(ConcertViewModel.Concert concert in Model.Concerts) {
            <tr>
                <td><a class="nav-link" asp-area="" asp-controller="Concerts" asp-action="EditConcert" asp-route-id="@concert.Id">@concert.Title</a></td>
                <td>@concert.Location.Latitude</td>
                <td>@concert.Location.Longitude</td>
                <td>@concert.MeetupTime</td>
                <td>@concert.SoundCheckTime</td>
                <td>@concert.StartTime</td>
                <td>@concert.ExpectedEndTime</td>
                <td>@concert.Notes</td>
                <td>@concert.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>